

<div class="create-blog">

    <div class="create-blogs-container">
    <h2>Create Blogs</h2>
    <form class="create-blog-form"  [formGroup]="createForm" (ngSubmit)="submit()">
        <label for="blog-title">Blog Title:</label>
        <input type="text" id="blog-title" name="blog-title" formControlName="title">

        <label for="blog-category">Category:</label>
        <select id="blog-category" name="blog-category" formControlName="category" >
            <option *ngFor="let category of category" [value]=category.id>{{category.name}}</option>
            
        </select>
        <label for="blog-image">Image</label>
        <input type="file" id="blog-img" name="blog-img" (change)="onSelectedFiles($event)" >
        <!-- in html u can add a multiple attribute to specify number of files to take in input  -->
         <!-- when event is fired uska obj banega and it that target will return the reference of it jismie u will have the file ka value  -->



        <label for="blog-content">Blog Content:</label>
        <textarea id="blog-content" name="blog-content" rows="10" formControlName="description"></textarea>

        <button type="submit">Create Blog</button>
    </form>
</div>
</div>