<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="assets/Images/pic.png" class="rounded-circle profile-pic mb-3 " alt="Profile Picture">
        <h2 class="profile-name">{{userName}}</h2>
        <p class="profile-bio">{{userEmail}}</p>
      </div>
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Bio</h5>
            <p class="card-text">{{aboutUser}}</p>
          </div>
        </div>
  
        <!-- Tabs for My Blogs and Saved Blogs -->
        <ul class="nav nav-tabs" id="profileTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="my-blogs-tab" data-toggle="tab" href="#my-blogs" role="tab" aria-controls="my-blogs" aria-selected="true">My Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="saved-blogs-tab" data-toggle="tab" href="#saved-blogs" role="tab" aria-controls="saved-blogs" aria-selected="false">Saved Blogs</a>
          </li>
        </ul>
  
        <div class="tab-content" id="profileTabContent">
          <div class="tab-pane fade show active" id="my-blogs" role="tabpanel" aria-labelledby="my-blogs-tab">
            <div class="row">
              <!-- My Blogs content here -->
              <div class="col-md-6 mb-3" *ngFor="let blog of myBlogs">
                <div class="card">
                  <img src="assets/Images/image1.png" class="card-img-top w-100 blog-img" alt="Blog Post 1">
                  <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <p class="card-text">{{blog.description}}</p>
                    <button type="button" class="btn btn-link">Edit</button>
                    <button type="button" class="btn btn-link">Read more</button>
                    <!-- <button type="button" class="btn btn-link" >Delete</button> -->
                    <ng-template #content let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Delete Blog</h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="mb-3">
                            <label for="">Are you sure you want to delete </label>
                            <h3>"{{blog.title}}"</h3>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)=" modal.close(blog.id) ">Delete</button>
                        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Save click')" >Cancel</button>

                      </div>
                    </ng-template>
                    
                    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Delete</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="tab-pane fade show" id="saved-blogs" role="tabpanel" aria-labelledby="saved-blogs-tab">
            <div class="row">
              <!-- Saved Blogs content here -->
              <div class="col-md-6 mb-3">
                <div class="card">
                  <img src="assets/Images/card.png" class="card-img-top w-100 blog-img" alt="Saved Blog 1">
                  <div class="card-body">
                    <h5 class="card-title">Inscribed Moments</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eveniet consectetur dicta, nam unde rem iste fuga temporibus quas laudantium.</p>
                    <button type="button" class="btn btn-link">Read more</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="card">
                  <img src="assets/Images/card2.png" class="card-img-top w-100 blog-img" alt="Saved Blog 2">
                  <div class="card-body">
                    <h5 class="card-title">Spirited Squad</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quidem maiores nisi veniam quos amet debitis laudantium ab aliquam inventore.</p>
                    <button type="button" class="btn btn-link">Read more</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="card">
                  <img src="assets/Images/card3.png" class="card-img-top w-100 blog-img" alt="Saved Blog 3">
                  <div class="card-body">
                    <h5 class="card-title">Paws and Poses</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non veritatis minima quos soluta hic totam asperiores harum deleniti tempore mollitia.</p>
                    <button type="button" class="btn btn-link">Read more</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="card">
                  <img src="assets/Images/card4.png" class="card-img-top w-100 blog-img" alt="Saved Blog 4">
                  <div class="card-body">
                    <h5 class="card-title">Submerged Tranquility</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem blanditiis error eius possimus sunt unde odit a distinctio minima eum!</p>
                    <button type="button" class="btn btn-link">Read more</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>